@model IEnumerable<Vetstore.Entities.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProducto.CategoriaProductoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.VentaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaProducto.CategoriaProductoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.VentaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductoId })
        </td>
    </tr>
}

</table>
